[Desktop Entry]
Encoding=UTF-8
Name=Messenger
Comment=Messenger IM
TryExec=/opt/messenger-linux-x64/messenger
Exec=/opt/messenger-linux-x64/messenger %U
Icon=/opt/messenger-linux-x64/resources/app/icon.png
Terminal=false
StartupNotify=false
Type=Application
Categories=Application;
