[Desktop Entry]
Encoding=UTF-8
Name=Skype
Comment=Rocketchat Skype
TryExec=/opt/skype-linux-x64/skype
Exec=/opt/skype-linux-x64/skype %U
Icon=/opt/skype-linux-x64/resources/app/icon.png
Terminal=false  #软件打开时是否启动终端
StartupNotify=false
Type=Application
Categories=Application;
