[Desktop Entry]
Encoding=UTF-8
Name=Telegram
Comment=Telegram IM
TryExec=/opt/telegram-linux-x64/telegram -no-sandbox
Exec=/opt/telegram-linux-x64/telegram -no-sandbox %U
Icon=/opt/telegram-linux-x64/resources/app/icon.png
Terminal=false
StartupNotify=false
Type=Application
Categories=Application;
